    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">

    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


<!-- <nav id="navBar" class="navbar navbar-expand-lg navbar-dark m-2 animated zoomIn">-->
<!--            <a class="navbar-brand" href="#">Reverse Recipe</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav mr-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Browse</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="nav navbar-nav navbar-right">-->
<!--                    <li><a class="nav-link" href="#">Register</a></li>-->
<!--                    <li><a class="nav-link" href="#">Sign in</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--  </nav>-->