<!doctype html>
<html lang="en">

<head>
    <% include partials/header %>
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
</head>

<body>
    <% include partials/navbar %>
<form action="/delete" method="post">
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td style="color: white">Are you sure you want to delete account?</td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-danger float-center">Delete</button>
                <a href="/" class="btn btn-secondary float-center">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>






<% include partials/footer %>
</body>
</html>

