
<!doctype html>
<html lang="en">

<head>
    <% include partials/header %>
</head>

<body>
    <% include partials/navbar %>


<section class="login-block row justify-content-center" >
    <div class="container animated zoomIn">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Edit Profile</h2>

                <form method="post" id="register_form" action="/edit">
                    <div class="form-group">
                        <label for="exampleusername" class="text-uppercase">Change Username</label>
                        <input type="text" class="form-control" placeholder="" name="userrup" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Change Password</label>
                        <input type="password" class="form-control" placeholder="" name="passworddup" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail" class="text-uppercase">Change Email</label>
                        <input type="email" class="form-control" placeholder="" name="emailup" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail" class="text-uppercase"> Change Diet</label><br>
                        <input type="radio" name="diettup" value="1" checked> No Restriction<br>
                        <input type="radio" name="diettup" value="2"> Vegetarian<br>
                        <input type="radio" name="diettup" value="3"> Vegan
                    </div>
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                <a href="/delete"><button class="btn btn-danger float-left">Delete account</button></a>
            </div>
            <div class="col-md-8 banner-sec">

                <% if (userinfo.length > 0) {%>
                    <table class="table table-hovered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Diet</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% userinfo.forEach((userinfo, index) => { %>
                            <tr>
                                <th scope="row"><%= userinfo.id %></th>
                                <td><%= userinfo.username %></td>
                                <td><%= userinfo.email %></td>
                                <%if (userinfo.diet_id === 1){%>
                                    <td>No Restriction</td>
                                <%}else if(userinfo.diet_id == 2){%>
                                    <td>Vegetarian</td>
                                <%}else{%>
                                    <td>Vegan</td>
                                <%}%>

                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% } else { %>

                <% } %>

            </div>
        </div>
    </div>
</section>


<% include partials/footer %>
</body>

</html>