<%var loggedin%>
<%var username%>
<!doctype html>
<html lang="en">

<head>
    <% include partials/header %>
        <title>Reverse Recipe</title>
</head>

<body class="mb-2 text-white">

    <% include partials/navbar %>

    <div class="container">
        
        <div class="row">
            <div class="col-sm m-2 tileBackground text-center animated fadeInLeft">
                <p class="m-2">Description</p>
                <button id="loadIngredients" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientModal">
                    Search by Ingredient
                </button>
            </div>

            <div class="col-sm m-2 tileBackground text-center animated fadeInDown">
                <p class="m-2">Description</p>
                <form name="searchByDietForm" action="/search">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dietOptions" id="pescatarianRadio" value="pescetarian" required>
                        <label class="form-check-label" for="pescatarianRadio">Pescetarian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dietOptions" id="vegetarianRadio" value="vegetarian" required>
                        <label class="form-check-label" for="vegetarianRadio">Vegetarian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dietOptions" id="veganRadio" value="vegan" required>
                        <label class="form-check-label" for="veganRadio">Vegan</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dietOptions" id="ketogenicRadio" value="ketogenic" required>
                        <label class="form-check-label" for="ketogenicRadio">Ketogenic</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dietOptions" id="paleoRadio" value="paleo" required>
                        <label class="form-check-label" for="paleoRadio">Paleo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dietOptions" id="primalRadio" value="primal" required>
                        <label class="form-check-label" for="primalRadio">Primal</label>
                    </div>
                    <button id="searchByDiet" type="submit" class="btn btn-primary m-2">Search by Diet</button>
                </form>
            </div>
            
            <div class="col-sm m-2 tileBackground text-center animated fadeInRight">
                <p class="m-2">Description</p>
                <form class="form" name="searchByNameForm" action="/search">
                    <div class="form-group mb-2">
                        <input id="recipeName" type="text" class="form-control mb-2" placeholder="Chicken Salad" name="recipeName" required>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <button id="searchByName" type="submit" class="btn btn-primary mb-2">Search by Name</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm m-2 text-center">
                <div class="feature animated flash flipInX">
                <h2>Featured Recipes</h2>
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm m-2 tileBackground text-center animated fadeInUp">
                <h3 class="m-2"><img src=https://www.simplyrecipes.com/wp-content/uploads/2019/06/Vegetarian_Pad_Thai_Tofu00008-768x1075.jpg height = 100px width=100px </h3>
                <a href="https://www.simplyrecipes.com/recipes/vegetarian_pad_thai_with_tofu/">Vegetarian</a>
            </div>
            <div class="col-sm m-2 tileBackground text-center animated fadeInUp">
                <h3 class="m-2"><img src=https://www.simplyrecipes.com/wp-content/uploads/2016/10/paleo-chicken-adobo-vertical-a-1800-715x1024.jpg height = 100px width=100px </h3>
                <a href="https://www.simplyrecipes.com/recipes/paleo_chicken_adobo/">Paleo</a>
            </div>
            <div class="col-sm m-2 tileBackground text-center animated fadeInUp">
                <h3 class="m-2"><img src=https://www.simplyrecipes.com/wp-content/uploads/2019/02/Minestrone_HERO00003-731x1024.jpg height = 100px width=100px </h3>
                <a href="https://www.simplyrecipes.com/recipes/vegan_chickpea_minestrone/">Vegan</a>
            </div>
            <div class="col-sm m-2 tileBackground text-center animated fadeInUp">
                <h3 class="m-2"><img src=https://www.simplyrecipes.com/wp-content/uploads/2006/01/seared-ahi-tuna-600.jpg height = 100px width=100px </h3>
                <a href="https://www.simplyrecipes.com/recipes/seared_ahi_tuna/">Pescatarian</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tileBackground">
                <div class="modal-header">
                    <h5 class="modal-title" id="ingredientModalTitle">Select your ingredients</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="px-4 py-3 text-center" name="searchByIngredientForm" id="searchByIngredient" action="/search">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>

<script>
    $("#loadIngredients").on('click', function(e) {
        $("#searchByIngredient").empty();
        $.ajax({
                method: "GET",
                url: "/getIngredients",
                dataType: "json",
            })
            .done(function(results) {
                for (var i = 0; i < results.length - 2; i+=2){
                    $("#searchByIngredient").append("<div class='row'> <div class='col'> <input type='checkbox' class='form-check-input' name='ingredientOptions' value='" + results[i].ingre_name +"'><label class='form-check-label' for='dropdownCheck'>"+results[i].ingre_name+"</label></div><div class='col'><input type='checkbox' class='form-check-input' name='ingredientOptions' value='"+ results[i+1].ingre_name +"'><label class='form-check-label' for='dropdownCheck'>"+results[i+1].ingre_name +"</label></div></div>"); 
                }
                $("#searchByIngredient").append("<div class='text-center mt-4'><button type='submit' class='btn btn-primary'>Search</button></div>");
            });
        $('#recipeSummaryModal').modal('show');
    });
</script>

</html>
