<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css">

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Another tab if needed</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="  Search Recipes" name="search">
            <button type="submit">Submit</button>
          </form>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search By Ingredient
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Eggs</a></li>
            <li><a href="#">Bacon</a></li>
            <li><a href="#">Beef</a></li>
            <li><a href="#">Pork</a></li>
            <li><a href="#">Chicken</a></li>
            <li><a href="#">Turkey</a></li>
            <li><a href="#">Salmon</a></li>
            <li><a href="#">Tuna</a></li>
            <li><a href="#">Tomato</a></li>
            <li><a href="#">Avocado</a></li>
            <li><a href="#">Potato</a></li>
            <li><a href="#">Beans</a></li>
          </ul>
        </div>

      </div>
      <div class="col-sm-8 text-center">
        <h1>REVERSE RECIPE</h1>
        <p>PLACE FOR TEXT OR IMAGES OR DISPLAY RESULTS
          <br>
          sdgsdgsfgsgsdg
          <br>
          sdgsdgsdgsdgsdg
          <br>
          sdgsdgsdgsdgsdgsdgsdg
          <br>
          sdgsdgsdg
        </p>
        <h3>Test Test Test</h3>
        <p>kjasfashfasfhapi pasjfasjgadkgja ladjsglkajg</p>
        <div class="img-responsive" style=margin-bottom:25px>
          <h2>Search Reults</h2>
          <a href=""><img src="images/salmon.jpg" width="200" height="200"></a>
          <a href=""><img src="images/salmon.jpg" width="200" height="200"></a>
          <a href=""><img src="images/salmon.jpg" width="200" height="200"></a>
        </div>




      </div>
      <div class="col-sm-2 sidenav">
        <div>
          <h1>Search By Diet</h1>
        </div>
        <div class="diet">
          <h2>Pescatarian</h2>
          <a href="">
            <img src="images/salmon.jpg" alt="Pescatarian" style="width:125px;height:125px;border:0;padding: 5px;">
          </a>
        </div>
        <div class="diet">
          <h2>Vegetarian</h2>
          <a href="">
            <img src="images/vegetarian.jpg" alt="Vegetarian" style="width:125px;height:125px;border:0;padding: 5px;">
          </a>
        </div>
        <div class="diet">
          <h2>Vegan</h2>
          <a href="">
            <img src="images/vegan.jpg" alt="Vegan" style="width:125px;height:125px;border:0;padding: 5px;">
          </a>
        </div>
      </div>
    </div>
  </div>



</body>

</html>