body{
    background-color: #121212;
}

.navbar-dark{
    background-color: #272727; 
}

#mainContent{
    background-color: #272727; 
}

.tileBackground{
    border-radius: 10px;
    background-color: #272727;
    height: auto;
}
.btn-primary{
    background-color: #03DAC6;
    color: black;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: #BB86FC;
    border-color: black; /*set the color you want here*/
}

img{
    width: 190px;
    margin: 20px;
}